
h1
{
  color:red;
  text-align:left;
  border-style:solid;
  border-color:black;
  background-color:black;
  border-width:50px;
  
}
h2
{
  color:yello;
  text-align:bottom;
  background:black;
  word-spacing: 20px;
  font-size: 50px;\
  border-style:solid;
  border-width:100px;
}
div
{
  
  border-style:solid;
  border-width:50px;
  border-left-style:solid;
  background-color:green;
}


#tu
{
  
  border-style:solid;
  border-width:50px;
  border-left-style:solid;
  background-color:green;
}
img
{
  align-items: right;
  text-align:center;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
  border-width:190px;
}



